<p id="notice"><%= notice %></p>

<p>
  <strong>Seggi:</strong>
  <%= @rilevazioni.seggi %>
</p>

<p>
  <strong>Uno m:</strong>
  <%= @rilevazioni.uno_m %>
</p>

<p>
  <strong>Uno f:</strong>
  <%= @rilevazioni.uno_f %>
</p>

<p>
  <strong>Due m:</strong>
  <%= @rilevazioni.due_m %>
</p>

<p>
  <strong>Due f:</strong>
  <%= @rilevazioni.due_f %>
</p>

<p>
  <strong>Tre m:</strong>
  <%= @rilevazioni.tre_m %>
</p>

<p>
  <strong>Tre f:</strong>
  <%= @rilevazioni.tre_f %>
</p>

<%= link_to 'Edit', edit_rilevazioni_path(@rilevazioni) %> |
<%= link_to 'Back', rilevazionis_path %>
