<%= form_for :finale, url: url, method: method, :html => {:id => "finale"}  do |f| %>

  <% if @finale.errors.any? %>
    <div class="row" id="error_explanation">
      <h2><%= pluralize(@finale.errors.count, "error") %> prohibited this finale from being saved:</h2>

      <ul>
      <% @finale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!----------------------- -->
  <div class="row space12">
    <ul class="mini-stats col-sm-12">
      <li class="col-sm-6 col-xs-6">
        <div class="values">
          <strong>Votanti</strong>
          <i class="circle-icon circle-teal"><%= @votanti %></i>
        </div>
      </li>
      <li class="col-sm-6 col-xs-6">
        <div class="values">
        <strong>Quadratura</strong>
        <i class="circle-icon circle-bricky" id="esito_quadratura">NO</i>
        </div>
      </li>
    </ul>
  </div>  




  <!----------------------- -->
  <div class="row">
    <div class="col-md-3">
      <%= f.label 'Voti "SI"' %>
      <div class="form-group input-group">
        <%= f.number_field :si, class: "form-control input-sm", :autofocus => true %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.si %> </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.label 'Voti "NO"' %>
      <div class="form-group input-group">
        <%= f.number_field :no, class: "form-control input-sm" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.no %> </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
        <%= f.label :bianche %>
        <div class="form-group input-group">
          <%= f.number_field :bianche, class: "form-control input-sm" %>
          <% if method == 'patch' %>
            <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.bianche %> </span>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label :nulle %>
        <div class="form-group input-group">
        <%= f.number_field :nulle, class: "form-control input-sm" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.nulle %> </span>
        <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label :contestate %>
        <div class="form-group input-group">
          <%= f.number_field :contestate, class: "form-control input-sm" %>
          <% if method == 'patch' %>
            <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.contestate %> </span>
          <% end %>
        </div>
      </div>
  </div>
  

  
  <div class="row">
    <div class="col-md-3">
      
      <%#= f.submit 'Salva', :class => 'btn btn-success' %>
      <%= link_to 'Salva', '#', :class => 'btn btn-success', :id => 'test_submit' %>
      <%= link_to 'Back', :back, :class => 'btn btn-bricky' %>
    </div>
    <div class="col-md-4">
      Differenza Quadratura: <span id="diff_quadratura"></span> <%#= number_field :conteggio, 'totali', disabled: true %>
    </div>

  </div>
  
<script>

$(document).ready(function() {
  sommatutti();
});

$("[id^=finale_").keyup(function() { 
  sommatutti();
});


function sommatutti() {
  var votanti = <%= @votanti %>
  var si = $('#finale_si').val();
  var no = $('#finale_no').val();
  var bianche = $('#finale_bianche').val();
  var nulle = $('#finale_nulle').val();
  var contestate = $('#finale_contestate').val();

  if (si.length == 0 ) {si = 0;}
  if (no.length == 0 ) {no = 0;}
  if (bianche.length == 0 ) {bianche = 0;}
  if (nulle.length == 0 ) {nulle = 0;}
  if (contestate.length == 0 ) {contestate = 0;}

  var totale = parseInt(si) + parseInt(no) + parseInt(bianche) + parseInt(nulle) + parseInt(contestate)

  //$("#conteggio_totali").val(totale);
  var differenza = votanti - totale;
  $("#diff_quadratura").text(differenza);

  if (votanti == totale) {
    $("#esito_quadratura").text('OK');
    $("#esito_quadratura").removeClass('circle-bricky circle-green').addClass( "circle-green" );
    //alert ( 'quadratura ok' );
  } else { 
    $("#esito_quadratura").text('No');
    $("#esito_quadratura").removeClass('circle-bricky circle-green').addClass( "circle-bricky" );
  };

}

$("[id^=finale_").keyup(function() { 
  sommatutti();
});


$("#test_submit").click(function() { 
  inviaform();
});

function inviaform() {
  var votanti = <%= @votanti %>
  var si = $('#finale_si').val();
  var no = $('#finale_no').val();
  var bianche = $('#finale_bianche').val();
  var nulle = $('#finale_nulle').val();
  var contestate = $('#finale_contestate').val();

  if (si.length == 0 ) {si = 0;}
  if (no.length == 0 ) {no = 0;}
  if (bianche.length == 0 ) {bianche = 0;}
  if (nulle.length == 0 ) {nulle = 0;}
  if (contestate.length == 0 ) {contestate = 0;}

  var totale = parseInt(si) + parseInt(no) + parseInt(bianche) + parseInt(nulle) + parseInt(contestate)
  var differenza = votanti - totale;

  if (differenza != '0') {
    var result = window.confirm('Ci sono errori di quadratura, proseguire comunque?');
    if (result == true) { $( "#finale" ).submit(); }
  } else {
    alert ( 'quadratura ok'); 
    // inserire submit per il form
    $( "#finale" ).submit();
  }

}

</script>



<% end %>