<%= form_for :finale, url: url, method: method do |f| %>

  <% if @finale.errors.any? %>
    <div class="row" id="error_explanation">
      <h2><%= pluralize(@finale.errors.count, "error") %> prohibited this finale from being saved:</h2>

      <ul>
      <% @finale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!----------------------- -->
  <div class="row space12">
    <ul class="mini-stats col-sm-12">
      <li class="col-sm-6 col-xs-6">
        <div class="values">
          <strong>Votanti</strong>
          <i class="circle-icon circle-teal"><%= @votanti %></i>
        </div>
      </li>
      <li class="col-sm-6 col-xs-6">
        <div class="values">
        <strong>Quadratura</strong>
        <i class="circle-icon circle-bricky">NO</i>
        </div>
      </li>
    </ul>
  </div>  




  <!----------------------- -->
  <div class="row">
    <div class="col-md-3">
      <%= f.label 'Voto = SI' %>
      <div class="form-group input-group">
        <%= f.number_field :si, class: "form-control" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.si %> </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.label 'Voto = NO' %>
      <div class="form-group input-group">
        <%= f.number_field :no, class: "form-control" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.no %> </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
        <%= f.label :bianche %>
        <div class="form-group input-group">
          <%= f.number_field :bianche, class: "form-control" %>
          <% if method == 'patch' %>
            <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.bianche %> </span>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label :nulle %>
        <div class="form-group input-group">
        <%= f.number_field :nulle, class: "form-control" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.nulle %> </span>
        <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.label :contestate %>
        <div class="form-group input-group">
          <%= f.number_field :contestate, class: "form-control" %>
          <% if method == 'patch' %>
            <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @finale.contestate %> </span>
          <% end %>
        </div>
      </div>
  </div>



  
  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Back', :back, :class => 'btn btn-bricky' %>
      <%= f.submit 'Salva', :class => 'btn btn-success' %>
    </div>
  </div>
  




<% end %>