<%= form_for(@seggi) do |f| %>
  <% if @seggi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seggi.errors.count, "error") %> prohibited this seggi from being saved:</h2>

      <ul>
      <% @seggi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label 'Descrizione del seggio' %>
      <div class="form-group input-group">
        <%= f.text_area :descrizione, class: "form-control", cols: 60, rows: 1, :autofocus => true %>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.label 'Numero del Seggio' %>
      <div class="form-group input-group">
        <%= f.text_field :numero, class: "form-control input-sm", size: 5 %>
      </div>
    </div>


    <% if params[:action] == 'edit' %>
      <div class="col-md-3">
        <div class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Azioni <span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Elimina Seggio', seggi_path, method: :delete,  data: { confirm: "Sicuro di voler eliminare il seggio? Non sarà possibile recuperarlo e verranno eliminati tutti i dati connessi" } %></li>
          </ul>
        </div>
      </div> 
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :maschi %>
      <div class="form-group input-group">
        <%= f.text_field :maschi, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.label :femmine %>
      <div class="form-group input-group">
        <%= f.text_field :femmine, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.label 'Tipologia Seggio' %>
      <div class="form-group input-group">
        <label class="checkbox-inline">
          
          <%= f.check_box :speciale, :class => "square-purple" %>
          Seggio di tipo Speciale
        </label>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Indietro', seggis_path, :class => 'btn btn-bricky' %>
      <%= f.submit 'Salva seggio', :class => 'btn btn-success' %>
      
      
    </div>
  </div>


<% end %>
