<%= form_for :prima, url: url, method: method do |f| %>

  <% if @prima.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prima.errors.count, "error") %> prohibited this prima from being saved:</h2>

      <ul>
      <% @prima.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class="field">
    <%= f.label :maschi %><br>
    <%= f.number_field :maschi %>
    <% if method == 'patch' %>
    <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @prima.maschi %> </span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :femmine %><br>
    <%= f.number_field :femmine %>
    <% if method == 'patch' %>
    <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @prima.femmine %> </span>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>




<% end %>