<%= form_for :prima, url: url, method: method do |f| %>
  
  <div class="row">
    <div class="col-md-12">
      <% if @prima.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@prima.errors.count, "error") %> prohibited this prima from being saved:</h2>

          <ul>
          <% @prima.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <%= f.label :maschi %>
      <div class="form-group input-group">
        <%= f.number_field :maschi, class: "form-control input-sm" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @prima.maschi %> </span>
        <% end %>
      </div>
    </div>

    <div class="col-md-3">
      <%= f.label :femmine %>
      <div class="form-group input-group">
        <%= f.number_field :femmine, class: "form-control input-sm" %>
        <% if method == 'patch' %>
          <span class="help-block"><i class="fa fa-info-circle"></i> Valore precedente = <%= @prima.femmine %> </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  
      <%= link_to 'Back', seggi_path(:id => @seggio), :class => 'btn btn-bricky' %>
      <%= f.submit 'Salva', :class => 'btn btn-success' %>
    </div>
  </div>



<% end %>