<div class="row">
	<div class="col-md-4">
		<div class="alert alert-block alert-info fade in">
			<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Info!</h4>
			<h3>Riepilogo iscritti per la sezione</h3>
				<dl class="dl-horizontal">
					<dt>Totale Maschi</dt>
					<dd><%= @seggio.maschi %></dd>
					<dt>Totale Femmine</dt>
					<dd><%= @seggio.femmine %></dd>
					<dt>Totale Iscritti</dt>
					<dd><%= @seggio.maschi + @seggio.femmine %></dd>
				</dl>
		</div>
	</div>

	<% if params[:action] == 'edit' %>
	<% 
		@quadra_m =  @prima.maschi > @seggio.maschi ? true : false
		@quadra_f =  @prima.femmine > @seggio.femmine ? true : false
	%>
	

		<% if @quadra_f || @quadra_m %>
	

	<div class="col-md-4">
		<div class="alert alert-block alert-danger fade in">
			<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Valori Quadratura!</h4>
			<h3>Quadratura Irregolare</h3>
				<%= '<p>Il numero di maschi per la rilevazione supera gli iscritti</p>'.html_safe if @quadra_m %>
				<%= '<p>Il numero delle femmine per la rilevazione supera gli iscritti</p>'.html_safe if @quadra_f %>
		</div>
	</div>

	<% else %>
		<div class="col-md-4">
			<div class="alert alert-block alert-success fade in">
				<h4 class="alert-heading"><i class="fa fa-info-circle"></i> Valori Quadratura!</h4>
				<h3>Quadratura Regolare</h3>
			</div>
		</div>

	<% end %>

	<% end %>

</div>