<div class="row">
	<div class="col-md-12">
		<h2 class="center">Prospetto Riepilogativo Globale</h2>
	</div>
</div>

<%= render 'intestazione' %>
<br>

<% if @prima_conteggio.to_i > 0 %>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Prima Rilevazione
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-12 center">
							<h4>Ore 12:00 - Dati Affluenza</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">Pervenuti <%= @prima_conteggio %> seggi su <%= @totale_seggi %></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover " id="tabella-uno">
								<thead>
									<tr>
										<th>--</th>
										<th>Maschi</th>
										<th>Femmine</th>
										<th>Totale</th>
										<th> % </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Iscritti</td>
										<td><%= @votanti_iscritti_m %></td>
										<td><%= @votanti_iscritti_f %></td>
										<td><%= @votanti_iscritti %></td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>Votanti</td>
										<td><%= @prima_votanti_m %></td>
										<td><%= @prima_votanti_f %></td>
										<td><%= @prima_votanti_num %></td>
										<td><strong><%= number_to_percentage(@prima_votanti_perc, precision: 2) %></strong></td>
									</tr>								
								</tbody>
							</table>
						</div>
					</div>

					<% if @prima_conteggio < @totale_seggi %>
						<div class="row center text-danger">
							<div class="col-md-12">Dati Parziali</div>
						</div>
					<% end %>

				</div>
			</div>
		</div>
	</div>
	<% else %>
	<div class="row">
		<div class="col-md-12 text-primary center">
			<h2>Nessun Dato Pervenuto. Prima rilevazione alle ore 12:00</h2>
			<%= image_tag("elezioni.jpg") %>
		</div>
	</div>
	<% end %>

	<% if @seconda_conteggio.to_i > 0 %>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Seconda Rilevazione
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-12 center">
							<h4>Ore 19:00 - Dati Affluenza</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">Pervenuti <%= @seconda_conteggio %> seggi su <%= @totale_seggi %></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover " id="tabella-uno">
								<thead>
									<tr>
										<th>--</th>
										<th>Maschi</th>
										<th>Femmine</th>
										<th>Totale</th>
										<th> % </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Iscritti</td>
										<td><%= @votanti_iscritti_m %></td>
										<td><%= @votanti_iscritti_f %></td>
										<td><%= @votanti_iscritti %></td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>Votanti</td>
										<td><%= @seconda_votanti_m %></td>
										<td><%= @seconda_votanti_f %></td>
										<td><%= @seconda_votanti_num %></td>
										<td><strong><%= number_to_percentage(@seconda_votanti_perc, precision: 2) %></strong></td>
									</tr>								
								</tbody>
							</table>
						</div>
					</div>
					<% if @seconda_conteggio < @totale_seggi %>
						<div class="row center text-danger">
							<div class="col-md-12">Dati Parziali</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	

	<% end %>


	<% if @terza_conteggio.to_i > 0 %>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Terza Rilevazione
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-12 center">
							<h4>Ore 23:00 - Votanti</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">Pervenuti <%= @terza_conteggio %> seggi su <%= @totale_seggi %></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover " id="tabella-uno">
								<thead>
									<tr>
										<th>--</th>
										<th>Maschi</th>
										<th>Femmine</th>
										<th>Totale</th>
										<th> % </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Iscritti</td>
										<td><%= @votanti_iscritti_m %></td>
										<td><%= @votanti_iscritti_f %></td>
										<td><%= @votanti_iscritti %></td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>Votanti</td>
										<td><%= @terza_votanti_m %></td>
										<td><%= @terza_votanti_f %></td>
										<td><%= @terza_votanti_num %></td>
										<td><strong><%= number_to_percentage(@terza_votanti_perc, precision: 2) %></strong></td>
									</tr>								
								</tbody>
							</table>
						</div>
					</div>
					<% if @terza_conteggio < @totale_seggi %>
						<div class="row center text-danger">
							<div class="col-md-12">Dati Parziali</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<% end %>

</div>


<!-- inserire check per verifica se è stato creato almeno uno scrutino -->
<% if @finale_conteggio.to_i > 0 %>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Risultati Scrutini 
			</div>
			<div class="panel-body">

				<div class="row">
						
					<div class="col-sm-3">
						<div class="center text-success"><strong>Voti Si</strong></div>
						<div class="center"><%= @finale_tot_si %></div>
						<div class="center text-success"><strong><%= number_to_percentage(@finale_tot_si_perc, precision: 2) %></strong></div>
					</div>

					<div class="col-sm-3">
						<div class="center bricky"><strong>Voti No</strong></div>
						<div class="center"><%= @finale_tot_no %></div>
						<div class="center bricky"><strong><%= number_to_percentage(@finale_tot_no_perc, precision: 2) %></strong></div>
					</div>

					<div class="col-sm-2">
						<div class="center"><strong>Schede Bianche</strong></div>
						<div class="center"><%= @finale_tot_bianche %></div>
					</div>

					<div class="col-sm-2">
						<div class="center "><strong>Schede Nulle</strong></div>
						<div class="center"><%= @finale_tot_nulle %></div>
					</div>

					<div class="col-sm-2">
						<div class="center"><strong>Schede Contestate</strong></div>
						<div class="center"><%= @finale_tot_contestate %></div>
					</div>

					</div>

					

			</div>
		</div>

		<% if @finale_conteggio < @totale_seggi %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger"><i class="fa fa-info-circle"></i> <strong>Dati Parziali</strong> - Non sono ancora stati scrutinati tutti i seggi. Pervenuti <%= @finale_conteggio %> su <%= @totale_seggi %></div>
				</div>
			</div>
		<% end %>

	</div>
</div>
<% end %>


