<html>
<head>
  <title>Referendum - Public NOOOOOOOOOO</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
  <!-- start: META -->
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- end: META -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/assets/plugins/bootstrap/css/bootstrap.min", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/font-awesome/css/font-awesome.min", media: "all" %>
  <%= stylesheet_link_tag "/assets/fonts/style", media: "all" %>
  <%= stylesheet_link_tag "/assets/css/main", media: "all" %>
  <%= stylesheet_link_tag "/assets/css/main-responsive", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/iCheck/skins/all", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/perfect-scrollbar/src/perfect-scrollbar", media: "all" %>
  <%#= stylesheet_link_tag "/assets/css/theme_light", media: "all" %>
  <%= stylesheet_link_tag "/assets/css/theme_dark", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/datepicker/css/datepicker", media: "all" %>
  <%= stylesheet_link_tag "/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3", media: "all" %>
  <%= stylesheet_link_tag "/assets/css/print", media: "print" %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<header>
  <div role="navigation" class="navbar navbar-default navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
      <div class="navbar-header">
        <!-- start: RESPONSIVE MENU TOGGLER -->
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- end: RESPONSIVE MENU TOGGLER -->
        <!-- start: LOGO -->
        <!-- <a class="navbar-brand" href="index.html">
          Assistenza<i class="fa fa-lightbulb-o"></i>Tecnica
        </a> -->
        <%= link_to 'Assistenza<i class="fa fa-lightbulb-o"></i>Tecnica'.html_safe, '#', class: 'navbar-brand' %>
        <!-- end: LOGO -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%#= 'active' if current_page?(welcome_prelogin_path) %>">
            <%= link_to "home", '#' %>
          </li>
          
          <li class="<%= 'active' if (params[:controller] == 'welcome' && params[:action] == 'justone') %>">
            <%= link_to 'Just<i class="clip-seven-segment-1"></i> One'.html_safe, '#responsive', "data-toggle" => "modal" %>
          </li>

          <li>
            <%= link_to 'Login', '#' %>
          </li>

        </ul>
      </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
  </div>
</header>
    <!-- end: HEADER -->


<%#= yield %>


